/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

/* RESET */

html, body, header, footer, section, div, 
strong, a, img, p, h1, h2, h3, time, ul, li, small {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* CLEARFIX */

.group:after {
	content: "";
	clear: both;
	display: table;
}


/* ELEMENTS */

body {
	font-family: sans-serif;
	background: #E4E8F0;
	color: #333;
	font-size: 16px;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}


/* SNACKS INDEX */

.snack-image {
	float: left; 	
}



